.metadata
.recommenders
RemoteSystemsTempFiles/

01-Enumeradores/bin
01-Enumeradores/.settings
01-Enumeradores/.classpath
01-Enumeradores/.project

02-ELEMENTOS-BASICOS-DA-LINGUAGEM-JAVA/bin
02-ELEMENTOS-BASICOS-DA-LINGUAGEM-JAVA/.settings
02-ELEMENTOS-BASICOS-DA-LINGUAGEM-JAVA/.classpath
02-ELEMENTOS-BASICOS-DA-LINGUAGEM-JAVA/.project

03-PROGRAMACAO-MULTI-TAREFAS-THREADS/bin
03-PROGRAMACAO-MULTI-TAREFAS-THREADS/.settings
03-PROGRAMACAO-MULTI-TAREFAS-THREADS/.classpath
03-PROGRAMACAO-MULTI-TAREFAS-THREADS/.project

#bin
#.settings
#.classpath
#.project
